#map {
  width: 100%;
  height: 300px;
  background-color: grey;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #636B46;
}

#reviewBody {
  text-align: justify;
  border: 3px solid #636B46;
}

#reviewHeader {
  border: 3px solid #636B46;
}

.container {
  background:url("./images/topography.png") fixed center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

#parkPageName {
  font-family: 'Pacifico', cursive;  
  font-size: 15mm;
  height: 100%;
  width: 100%; 
}

#parkPageAddress {
  font-family: 'Pacifico', cursive;  
  font-size: 5mm;
  height: 100%;
  width: 100%; 
}

.row {
  padding-right: 15px;
  padding-left: 15px;
}

.centerContent {
  margin: 0 auto;
}

.centerPicContainer {
  width: 100%;
}

.centerPic {
  margin: auto;
  width: 50%;
}

.App {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #636B46;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
/* USE THIS FOR NON BUTTON/IMPORTANT TEXT #fffc95 */

.App-header {
  background-color: #CDA34F;
  text-align: left;
  /*min-height: 100vh;*/
  /*min-height is where the text will appear*/
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.password{
  display: block;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  color: $secondary;
}
  &__show{
    cursor: pointer;
    position: absolute;
    bottom: 11px;
    height: 16px;
    right: 0;
    background: $secondary;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 700;
    font-size: .8em;
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

$shadow-color: #C03820;
.container {
  display: flex;
  justify-content: center;
  min-width: 800px;
  margin-top: 50px;
}

.card-wrapper {
  margin: auto;  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  overflow: hidden;
  box-shadow: 0px 5px 30px rgba(0,0,0,0.25);
  border: 20px solid #ffffff;
  width: 800px;
  height: 500px;
  background: url("./images/asphalt.jpg") no-repeat center center/ cover;
}
.greeting {
  text-align: left;
  font-size: 60px;
  font-family: 'Yellowtail', cursive;
  letter-spacing: 3px;
  color: #222222;
}
.city {
  position: relative;
}
.city-title,
.city-title-shadow {
  position: absolute;
  top: -35px;
  left: -10px;text
  display: block;
  width: 100%;
  font-size: 6.5em;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  letter-spacing: -15px;
  transform: skewY(-8deg);
}
.city-title {
  z-index: 1;
   -webkit-text-stroke: 4px #ffffff;
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
}
.city-title-shadow {
    text-shadow: 1px 1px 0px $shadow-color, 2px 2px 0px $shadow-color, 3px 3px 0px $shadow-color, 4px 4px 0px $shadow-color, 5px 5px 0px $shadow-color, 6px 6px 0px $shadow-color, 7px 7px 0px $shadow-color, 8px 8px 0px $shadow-color, 9px 9px 0px $shadow-color, 10px 10px 0px $shadow-color, 11px 11px 0px $shadow-color, 12px 12px 0px $shadow-color, 13px 13px 0px $shadow-color, 14px 14px 0px $shadow-color, 15px 15px 0px $shadow-color;
}
.city + .greeting {
  margin: 300px 24px 0 0;
  float: right;
}

.stamp-text{
  font-size:1em;
  color:red;
  display:inline-block;
  font-family:sans-serif;
  padding:10px 20px;
  position: absolute;
  right: 250px;
  margin-top:300px;
  transform:rotate(-5deg);
  border:10px solid red;
  -webkit-mask-image: url("http://www.textures4photoshop.com/tex/thumbs/crack-grunge-texture-PNG-thumb24.png");
  -o-mask-image:url("http://www.textures4photoshop.com/tex/thumbs/crack-grunge-texture-PNG-thumb24.png");
  -moz-mask-image:url("http://www.textures4photoshop.com/tex/thumbs/crack-grunge-texture-PNG-thumb24.png");
  -ms-mask-image:url("http://www.textures4photoshop.com/tex/thumbs/crack-grunge-texture-PNG-thumb24.png");
  mask-image: url("http://www.textures4photoshop.com/tex/thumbs/crack-grunge-texture-PNG-thumb24.png");
}